<!DOCTYPE html>
<html lang="ja" , xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>予約一覧</title>
    <style>
      body {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      a:hover {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1>予約一覧</h1>
    <ul>
      <li th:each="r: ${reservationList}">
        [[${r.name}]]様 -- [[${r.numberOfPeople}]]人 -- [[${r.dateTime}]]
      </li>
    </ul>
    <form th:action="@{/read}" th:object="${reservationForm}" method="post">
      <label for="name">お名前：</label>
      <input type="text" th:field="*{name}" />
      <label for="numberOfPeople">人数</label>
      <input type="number" th:field="*{numberOfPeople}" />
      <label for="datetime">日時</label>
      <input type="datetime-local" th:field="*{dateTime}" />
      <input type="submit" value="登録" />
    </form>
    <a th:href="@{/}">戻る</a>
  </body>
</html>
