<!DOCTYPE html>
<html lang="ja" , xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>予約一覧</title>
    <style>
      body {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      a:hover {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1>予約一覧</h1>
    
        <table border="1">
        <tr>
            <th>名前</th>
            <th>人数</th>
            <th>時間</th>
            <th>テーブル番号</th>
            <th>料理</th>
            <th>削除</th>
        </tr>
      
        <tr th:each="r: ${reservationList}">
          <th> [[${r.name}]]様</th>
          <th>[[${r.numberOfPeople}]]人</th>
          <th>[[${r.dateTime}]]</th>
          <th>[[${r.tablenumber}]]</th>
          <th>[[${r.dishname}]]</th>
          <th><a th:href="@{/read17/{id}(id=${r.id})}">削除</a></th>
        </tr>
      </table>
     
      <h1>予約登録</h1>
    <form th:action="@{/read}" th:object="${reservationForm}" method="post">
      <table>
        <tr>
          <td><label for="name">お名前：</label> </td>
          <td> <input type="text" th:field="*{name}" /></td>
        </tr>
      <tr>
      <td><label for="numberOfPeople">人数：</label></td>
      <td><input type="number" th:field="*{numberOfPeople}" /></td>
      </tr>
      <tr>
        <td><label for="datetime">日時：</label></td>
        <td><input type="datetime-local" th:field="*{dateTime}" /></td>
    </tr>
  <tr>
    <td> <label for="tablenumbe">テーブル番号：</label></td>
      <td><input type="number" th:field="*{tablenumber}" /></td>
    </tr>
  <tr>
    <td><label for="dishname">料理：</label></td>
      <td><input type="text" th:field="*{dishname}" /></td>
    </tr>
      </table>
      <input type="submit" value="登録" />
    </form>
    <a th:href="@{/}">ホームに戻る</a>
  </body>
</html>
